.gameboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: 120px;
    height: 120px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 100px;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.top {
    border-bottom: solid black 5px;
}

.bottom {
    border-top: solid black 5px;
}

.left {
    border-right: solid black 5px;
}

.right {
    border-left: solid black 5px;
}


.x::after {
    content: 'X';
}

.o::after {
    content: 'O';
}

.disabled {
    cursor: not-allowed;
}

.cell:not(.disabled):hover {
    background: #eee;
}